.main-container {
   height: 100vh;
   overflow: hidden;
   background-color: #006064;
   color: #fff;
}

.main-container > * {
   height: 100vh;
   /* text-align: center; */
   /* border-right: 1px solid darkslategrey; */
}

.grid-item-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   padding: 5px 10px;
}

.grid-item-container > * {
   width: 100%;
}

h3 {
   margin-left: 16px;
}

.caller-list-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.caller-list-header-info {
   font-style: italic;
}