.info-row {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.row {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.panel {
   width: 100%;
   flex-grow: 1;
}

.call-list {
   height: 100%;
   width: 100%;
   overflow-y: scroll;
}

.call-item {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.call-item-duration {
   font-style: italic;
}

.caller-history-header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}